#!/bin/bash

source {{ deploy_path }}/venv/bin/activate

# Set environment variables
# export FLASK_APP={{ flask_app_name }}
# export FLASK_ENV={{ flask_env }}
export DB_PATH={{ db_path }}
export SECRET_KEY={{ secret_key }}
export ADMIN_GROUPS="{{ admin_groups }}"
export INSTANCE_PATH="{{ instance_path }}"

# Start the Flask application with Gunicorn
exec gunicorn -b {{ app_ip }}:{{ app_port }} --workers {{ gunicorn_workers }} --threads {{ gunicorn_threads }} app:app
